@model UsuarioModel
@{
    ViewData["Title"] = "Cadastrar usuário";
}
<div class="text-center">
    <h1 class="display-4">Cadastrar</h1>
</div>

@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-secondary btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-secondary btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-controller="Usuario" asp-action="Cadastrar" method="post">
    <div class="mb-3">
        <label for="nome">Nome</label>
        <input type="text" asp-for="NOME" class="form-control" id="nome" placeholder="Seu Nome">
        @Html.ValidationMessageFor(x => x.NOME)
    </div>
    <div class="mb-3">
        <label for="login">Login</label>
        <input type="text" asp-for="LOGIN" class="form-control" id="login" placeholder="Seu login">
        @Html.ValidationMessageFor(x => x.LOGIN)
    </div>
    <div class="mb-3">
        <label for="cpf">CPF</label>
        <input type="number" asp-for="CPF" class="form-control" id="cpf" placeholder="Seu CPF">
        @Html.ValidationMessageFor(x => x.CPF)
    </div>
    <div class="mb-3">
        <label for="senha">Senha</label>
        <input type="password" asp-for="SENHA" class="form-control" id="senha" placeholder="Sua senha">
        @Html.ValidationMessageFor(x => x.SENHA)
    </div>
    <div class="mb-3">
        <label for="confirmaSenha">Confirmar senha</label>
        <input type="password" asp-for="CONFIRMA_SENHA" class="form-control" id="confirmaSenha" placeholder="Confirme sua senha">
        @Html.ValidationMessageFor(x => x.CONFIRMA_SENHA)
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>