@model List<UsuarioModel>
@{
    ViewData["Title"] = "Consultar usuário";
}

<div class="text-center">
    <h1 class="display-4">Consultar</h1>
</div>


@await Component.InvokeAsync("Session")

<br />
<h2> Dados de todos os usuários</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
            <th scope="col">Login</th>
            <th scope="col">Último acesso</th>
            <th scope="col">Erros de Login</th>
            <th scope="col">Bloqueio ativo</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            foreach (UsuarioModel usuario in Model)
            {
                <tr>
                    <th scope="row">@usuario.Id</th>
                    <td>@usuario.NOME</td>
                    <td>@usuario.CPF</td>
                    <td>@usuario.LOGIN</td>
                    <td>@usuario.ULTIMO_ACESSO</td>
                    <td>@usuario.QTD_ERRO_LOGIN</td>
                    <td>@usuario.BL_ATIVO</td>
                </tr>
            }
        }
    </tbody>
</table>
